@model BookRentalStore.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<div>

    <li>


       @Model.membershiptype.package;


    </li>




</div>

