@model BookRentalStore.Models.Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>


<div>

   
        <li>@Model.price  tk </li>
        <li>@Model.author</li>
        <li>@Model.genre.name</li>

    




</div>

