@model IEnumerable< BookRentalStore.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (!Model.Any())
{

    <text>NO books</text>

}
else
{
    <div class="align-content-lg-stretch">
        <table width="1000" class="table-borderless table-hover table-active ">

            <thead>
                <tr>
                    <th>BOOK</th>
                    <th>Genre</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model)
                {

                    <tr>

                        <td>
                            @Html.ActionLink(c.name, "Details", "Books", new { id = c.id }, null)
                        </td>

                        <td>@c.genre.name   </td>
                    </tr>

                }
            </tbody>





        </table>
    </div>

}


